.gamelist {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: clamp(18.75rem, 16.708rem + 9.33vw, 23.125rem);
   column-gap: 10px;
   row-gap: 1em;

   @media(max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: clamp(14.375rem, 8.493rem + 29.41vw, 26.875rem);
   }

   @media(max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: clamp(16.875rem, 2.625rem + 76vw, 28.75rem);
   }

   &_notfound {
      background-color: rgb(37, 35, 47);
      text-align: center;
      border-radius: 20px;

      & h1 {
         font-size: clamp(1.563rem, 1.383rem + 0.9vw, 2rem);
         margin: 10px auto;
      }

      & img {
         max-width: 300px;
         width: 100%;
         margin: 40px auto;
         padding: 15px;
      }
   }
}