.search {
   display: flex;
   position: absolute;
   align-items: center;
   right: 15%;

   @media(max-width: 665px) {
      bottom: -30px;
      right: 10px;
   }


   & input {
      width: auto;
      max-width: 150px;
      padding: 5px 0 5px 0;
      margin-right: 10px;
      background-color: rgb(37, 35, 47);
      border: 1px rgb(37, 35, 47) solid ;
      border-radius: 10px;
      color: white;
      font-size: 17px;
      transition: max-width 1.5s;

      &:focus {
         max-width: 450px;
         width: 100%;
      }
   }

   &_icon {
      width: 35px;
      height: 35px;

      @media(max-width: 665px) {
         width: 24px;
         height: 24px;
         position: absolute;
         right: 15px;
         opacity: .7;
      }
   }

   &_clear {
      position: absolute;
      right: 15px;
      cursor: pointer;
      fill: #8e8aa8;
   }
}